@page
@model ProductWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Лист Материалов";
}

<h1>Материалы</h1>

<table class="table">
    <thead>
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Стоимасть</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.Materials)
        {
            <tr>
                <td>@material.Material_ID</td>
                <td>@material.Material_Name</td>
                <td>@material.Material_Cost.ToString("C2")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@material.Material_ID" class="btn btn-primary">Редактировать</a>
                    <a asp-page="./Delete" asp-route-id="@material.Material_ID" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create" class="btn btn-success">Создать новый</a>